div.stage
    h3= prompt.title
    div.prompt
        div.data
            each stat in stats
                .statistic
                    span.statname= stat.name
                    span.statvalue= stat.val
        span.promptmeat= prompt.prompt
        span.responsemeat
div.responses.display
    each response in responses
        button(hx-get="/responses/" + response.id, hx-target=".responsemeat", hx-swap="outerHTML")= response.id
br(style="clear:both;")